/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 100px;
}

#animalsContainer {
  background: lightskyblue;
}

.animal {
  background: pink;
  margin-bottom: 5px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
